= render "shared/providers", :button_name => "Sign In via"
%br/
= render "shared/flashes"
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f|
  = f.text_field :login, :placeholder => "Email or Username"
  = f.password_field :password, :placeholder => "Password"
  .right= link_to "Reset password", "javascript:void(0)", "data-reveal-id" => "reset-password-modal"
  %br/
  %br/
  .row
    .left= f.submit "Sign in", :class => "success button large"
    .right= link_to "Cancel", "javascript:void(0)", :class => "secondary button large modal-cancel", "data-trigger" => "signin-modal"