%nav.top-bar
  %ul
    %li.name
      %h1= link_to "AchievedBy.com", root_path
    %li.toggle-topbar= link_to "", "javascript:void(0)"

  %section
    %ul.right
      - unless user_signed_in?
        %li.divider
        %li.has-button
          = link_to "Sign Up", "javascript:void(0)", :class => "success button signup-button", "data-reveal-id" => "signup-modal"
        %li.has-button
          = link_to "Sign In", "javascript:void(0)", :class => "button signin-button", "data-reveal-id" => "signin-modal"
      - else
        %li.has-button
          = link_to "javascript:void(0)", :class => "success button achievement-button", "data-reveal-id" => "achievement-modal" do
            %i.general.foundicon-idea
            New achievement
        %li.has-button
          = link_to feed_path(current_user), :class => "button" do
            %i.general.foundicon-page
            = current_user.username.upcase
        %li.divider
        %li.has-dropdown
          = link_to "javascript:void(0)" do
            %i.general.foundicon-settings
          %ul.dropdown{ :style => "width:200px;" }
            %li= link_to "Edit", edit_user_registration_path
            %li= link_to "Sign Out", destroy_user_session_path, :method => :delete, :data => { :confirm => "Are you sure?" }