- unless user_signed_in?
  #signin-modal.reveal-modal.medium
    %h2 Sign In
    %p.lead
      Not registered yet?
      &nbsp;
      = link_to "Sign Up", "javascript:void(0)", :class => "button round register-button", "data-reveal-id" => "signup-modal"
    %p
      #signin-form-container= render "users/sessions/form"
    = link_to raw("&#215;"), "javascript:void(0)", :class => "close-reveal-modal"

  #signup-modal.reveal-modal.medium
    %h2 Sign Up
    %p.lead
      Have an Account?
      = link_to "Sign In", "javascript:void(0)", :class => "button round login-button", "data-reveal-id" => "signin-modal"
    %p
      #signup-form-container= render "users/registrations/form"
    = link_to raw("&#215;"), "javascript:void(0)", :class => "close-reveal-modal"

  #reset-password-modal.reveal-modal.medium
    %h2 Reset Password
    %p.lead
      May be you need to
      = link_to "Sign Up", "javascript:void(0)", :class => "button round register-button", "data-reveal-id" => "signup-modal"
      or
      = link_to "Sign In", "javascript:void(0)", :class => "button round login-button", "data-reveal-id" => "signin-modal"
      ?
    %p
      #reset-password-form-container= render "users/passwords/new"
      = link_to raw("&#215;"), "javascript:void(0)", :class => "close-reveal-modal"
- else
  #achievement-modal.reveal-modal.xlarge
    %h2 New achievement
    %p
      #achievement-form-container= render "achievements/form"
    = link_to raw("&#215;"), "javascript:void(0)", :class => "close-reveal-modal"