.row
  %center
    = link_to "javascript:void(0)", "data-url" => user_omniauth_authorize_path(:facebook), :class => "button large round provider-popup-open" do
      %i.social.foundicon-facebook
      = "#{button_name} Facebook"
    = link_to "javascript:void(0)", "data-url" => user_omniauth_authorize_path(:twitter), :class => "button large round provider-popup-open" do
      %i.social.foundicon-twitter
      = "#{button_name} Twitter"