= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :remote => true) do |f|
  = f.text_field :email, :placeholder => "Email"
  = error_message_on(resource, :email, :html_tag => "small", :css_class => "error")
  .row
    .left= f.submit "Send me reset password instructions", :class => "success button large"
    .right= link_to "Cancel", "javascript:void(0)", :class => "secondary button large modal-cancel", "data-trigger" => "reset-password-modal"