- unless respond_to?(:resource)
  window.location = "#{root_path}"
- else
  $("#reset-password-form-container").html("#{escape_javascript(render 'new')}")
  $("a.modal-cancel").bind("click", $.modal_cancel)