.six.columns.offset-by-three
  %h2 Change your password
  .row
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.hidden_field :reset_password_token

      = f.password_field :password, :placeholder => "New password"
      = f.password_field :password_confirmation, :placeholder => "Confirm new password"

      .row
        .left= f.submit "Save", :class => "success button large"
        .right= link_to "Back", user_signed_in? ? edit_user_registration_path : root_path, :class => "secondary button large"