.achievement-container.row
  .achievement-header.row
    %h3
      = achievement.title
  .achievement-content.row
    .row.attachment
      = display_video_for(achievement)
    .row= achievement.content
  .achievement-footer.row
    .right= "Added #{time_ago_in_words(achievement.created_at)} ago"