= form_for(achievement, :as => achievement_name, :url => achievements_path, :method => :post, :remote => true) do |f|
  = f.text_field :title, :placeholder => "Title"
  = error_message_on(achievement, :title, :html_tag => "small", :css_class => "error")
  = f.text_area :content
  = f.fields_for :video do |video_fields|
    = video_fields.text_field :url, :placeholder => "Video from Youtube"
    = error_message_on(video, :url, :html_tag => "small", :css_class => "error")
  %br/
  .row
    .left= f.submit "Save", :class => "success button large"
    .right= link_to "Cancel", "javascript:void(0)", :class => "secondary button large modal-cancel", "data-trigger" => "achievement-modal"