- unless achievement.new_record?
  window.location = "#{root_path}"
- else
  $("#achievement-form-container").html("#{escape_javascript(render 'form')}")
  $("a.modal-cancel").bind("click", $.modal_cancel)