!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=7" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %meta{ name: "keywords",    :content => content_for?(:meta_keywords) ? yield(:meta_keywords) : nil }
  %meta{ name: "description", :content => content_for?(:meta_description) ? yield(:meta_description) : nil }
  %title= content_for?(:title) ? yield(:title) : "AchievedBy.com"

  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"

  = csrf_meta_tag

%body
  .row.twelve.columns#header
    = render "shared/header"
  .row#content
    = yield
  .row#footer
    = render "shared/footer"
  #modals= render "shared/modals"