= render "shared/providers", :button_name => "Sign Up via"
%br/
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true) do |f|
  %fieldset
    %legend Or Sign Up with email address
    = f.text_field :username, :placeholder => "Username"
    = error_message_on(resource, :username, :html_tag => "small", :css_class => "error")
    = f.text_field :email, :placeholder => "Email"
    = error_message_on(resource, :email, :html_tag => "small", :css_class => "error")
    = f.password_field :password, :placeholder => "Password"
    = error_message_on(resource, :password, :html_tag => "small", :css_class => "error")
  %br/
  .row
    .left= f.submit "Sign Up", :class => "success button large"
    .right= link_to "Cancel", "javascript:void(0)", :class => "secondary button large modal-cancel", "data-trigger" => "signup-modal"