.row
  .left
    %h5
      %i{ :class => "social foundicon-#{provider}" }
      = provider
  .right
    - if current_user.providers.exists?(:name => provider)
      = link_to "Delete", omniauth_callback_path(provider), :method => :delete, :class => "alert button small", :data => { :confirm => "Are you sure?" }
    - else
      = link_to "Connect", "javascript:void(0)", "data-url" => user_omniauth_authorize_path(provider), :class => "success button small provider-popup-open"