- unless resource.new_record?
  window.location = "#{root_path}"
- else
  $("#signup-form-container").html("#{escape_javascript(render 'form')}")
  $("a.modal-cancel").bind("click", $.modal_cancel)
  $("a.provider-popup-open").bind("click", $.provider_popup_open)