.six.columns.offset-by-three
  %h2 Edit account
  .row
    = render "shared/flashes"
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.text_field :username, :placeholder => "Username"
      = error_message_on(resource, :username, :html_tag => "small", :css_class => "error")

      - if resource.unconfirmed_email.present?
        %label
          %i= "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      = f.text_field :email, :placeholder => "Email"
      = error_message_on(resource, :email, :html_tag => "small", :css_class => "error")

      %label
        %i (leave blank if you don't want to change it)
      = f.password_field :password, :autocomplete => "off", :placeholder => "New password"
      = error_message_on(resource, :password, :html_tag => "small", :css_class => "error")

      %label
        %i (we need your current password to confirm your changes)
      = f.password_field :current_password, :placeholder => "Current password"
      = error_message_on(resource, :current_password, :html_tag => "small", :css_class => "error")

      .row
        .right
          = link_to "Reset password", new_password_path(resource_name)
      %br/
      .row
        .left= f.submit "Update", :class => "success button large"
        .right= link_to "Back", :back, :class => "secondary button large"
  %br/
  %br/
  %h2
    Manage connections
  .row= render :partial => "users/registrations/provider", :collection => User.omniauth_providers
  %br/
  %br/
  %h2
    Account cancellation
  .row
    %p
      %b Unhappy?
      = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "alert button small round"